body {
background-color: #b2a496;
font-family:Arial, Helvetica, sans-serif
}
h2 {
    background-color: #211f2f;
    padding: 1em;
    margin: 1em;
}

@media (min-width 980px) {
 .Align {
    display: flex;
 }
 .City {
    display: flex;
 }
 .Place {display: flex;

}
.Container {
    display: flex;
    }
    .Content {
        display: flex;
    }
    .name {
        display: flex;
        align-content: right;
    }
}
.Container {
    display: flex;
    /* vertical-align: middle; */
    margin: 2em;
    padding: 1em;
    }
    
.Align {
    text-align: center;
    vertical-align: middle;
}
.Align h1 {
    display: inline-block;
    vertical-align: middle;
    margin-inline: 2em;
}
.Align img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5em;
}
.Place {
    /* text-align: left; */
    /* vertical-align: middle; */
    /* margin: 8em;
    display: inline-block; */
}
.City {
 display: flex;
 vertical-align: middle;
}
.City img {
    margin-right: 2em;
}
.Describe {
    text-align: justify;
    display: flex;
    padding-left: 1em ;
}
.name {
    display: flex;
  
}
.name img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5em;
    /* float: left; */
}
.Content{
    /* text-align: center;
    vertical-align: middle; */
    /* margin-bottom: 1em; */
}
